/* li:matches(:nth-child(even), .target) {
    background-color: peachpuff;
} */

/* 
li:not(.target){
    background-color: peachpuff;
} */

/*
:root{
    --awesomeColor: #3498db;
}



a:first-child{
    color:var(--awesomeColor);
}

@custom-selector :--headers h1,h2,h3,h4,h5,h6;

:--headers{
    color: #9b59b6;
}

@custom-media --ipad-size (650px <= width <= 800px);

@media (--ipad-size) {
    body {
        background-color: peachpuff;
    }
}

*/
main {
    background-color: blue;
    & section{
        width: 80%;
        background-color: red;
        & li {
            width: 80%;
            background-color: yellow;
            & a{
                
                color: green;
                &:hover {
                    font-size: 2rem;
                }
            }
        }
    }
}