*{
    padding: 0;
    margin: 0;
    font-family: "montserrat";
}



.container{
    width: 100%;
    height: 100vh;
    background: #333;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card{
    height: 680px;
    cursor: pointer;
    width: 504px;
}

.front{
    width: 100%;
    height: 100%;
    transform: perspective(600px) rotateY(0deg);
    z-index: 2;
}

.front img{
    height: 100%;
    z-index: 3;
}



.back {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: -680px;
    background: #f1f1f1;
    height: 100%; 
    width: 483px;
    transform: perspective(600px) rotateY(180deg);
    z-index: 1;
    
}
